.App {
  font-family: sans-serif;
  text-align: center;
}

#root,
body,
canvas {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

main {
  width: 100%;
  height: 100%;

  display: flex;
}

.r3f-perf {
  z-index: 1000 !important;
}
